body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
  }
  .swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;

  }




@media (max-width:1200px) {
    header {
        margin: 20px;
    }
}

@media(max-width:768px) {
    .menu-toggle1 {
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        background: #ccc;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: #069370;
    }

    .menu-toggle1:before {
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 40px;
    }

    .menu-toggle1.active:before {
        content: '\f00d';

    }

    nav {
        display: none;
    }

    nav.active {
        display: none;
        width: 100%;
    }

    nav.active ul {
        display: block;
    }


}