* + * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins,' sans-serif;
    margin:0;
    padding: 0;
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
    }
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    }
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    background-color: rgb(99, 76, 76);
  }
    header{
        position: relative;
        max-width: 1200px;
        margin: 20px auto;
        background-color: #FFFFff;
        box-sizing: border-box;
        border-radius: 4px;
        box-shadow:0 2px 5px rgba(0,0,0);
       
    }
    .logo
    {
        color: #030303;
        height: 50px;
        font-size:36px;
        line-height: 60px;
        background: rgb(255, 255, 255);
        text-align: center;
        box-sizing: border-box;
        float: left;
        font-weight: 700;
        text-decoration: none;
    }
    nav{
        float: right;
    }
    nav ul{
        display: flex;
        margin: 0;
        padding: 0;
    }
    nav ul li{
        list-style-type: none;
    }
    nav ul li a {
        display: block;
        margin:10px;
        padding: 10px 20px;
        text-decoration: none;
        color:#262626;
    }
    nav ul li a.active,
    nav ul li :hover
    {
    background: #08000a;
    color:#FFF;
    transition: 0.5s;
    }
    .clearfix{
        clear: both;
    }
    .container{
        display: flex;
        height: 500px;
        width: 500px;
        background-color: gray;
        align-items: flex-end;
        border-color: black;
    }
    /* C'est le scroll horizontal le parent */
    .horizontal-scroll-wrapper {
        width: 500px;
        height: 500px;
        overflow-y: auto;
        overflow-x: hidden;
        transform: rotate(-90deg);
      }
      /* C'est pour toucher l'enfant de la div scroll */
      .horizontal-scroll-wrapper > div {
        width: 500px;
        height: 500px;
        transform: rotate(90deg);
        transform-origin: left bottom;
        border-width: 5px;
        border-style: solid;
        border-color: black;
      }

      .Box{
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: ;
          margin: auto;
          height:auto;
          width: 1500px;
      }
    @media (max-width:1200px){
    header{
        margin:20px;
          }
    }
    @media(max-width:768px)
    {
        .menu-toggle
        {
            display: block;
            width: 40px;
            height: 40px;
            margin: 10px;
            background: #ccc;
            float: right;
            cursor: pointer;
            text-align: center;
            font-size: 30px;
            color: #069370;
        }
        .menu-toggle:before
        {
            content:'\f0c9'; 
            font-family: fontAwesome;
            line-height: 40px;
        }
        .menu-toggle.active:before
        {
            content:'\f00d'; 
        
        }
        nav
        {
            display: none;
        }
        nav.active{
            display: none;
            width: 100%;
        }
        nav.active ul
        {
            display: block;
        }
    
        
    }